.form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5983B3;
    border: 2px solid gray;
    width: 35rem;
    height: 30rem;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
}

.form__title {
    font-size: 2.25rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.form__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form__fieldset {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    margin-top: .5rem;
    width: 80%;
}

.form__textarea {
    resize: none;
    width: 90%;
    height: 25vh;
    margin-bottom: 1rem;
}

.form__button {
    padding: .75rem;
    background: #334B66;
    border: none;
    color: white;
    border-radius: .5rem;
    transition: background 1s;
}

.form__button:hover {
    background: #0a0f14;
    cursor: pointer;
}


.form__close{
    position: absolute;
    top: 0;
    right: 0; 
    padding: .25rem 1rem;
    border: none;
    background: tomato;
    color: white;
}

.form__close:hover {
    cursor: pointer;
    background: rgb(110, 35, 21);
}